.advantages {
  background-color: var(--color-bg-accent);
  padding-top: 118px;
  padding-bottom: 93px;

  @media (--middle-vp) {
    padding-top: 98px;
    padding-bottom: 87px;
  }

  @media (--small-vp) {
    padding-top: 69px;
    padding-bottom: 62px;
  }
}

.advantages h2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (--middle-vp) {
    margin-bottom: 30px;
  }

  @media (--small-vp) {
    margin-bottom: 30px;
  }
}

.advantages__context {
  display: grid;
  max-width: 1040px;
  min-height: 307px;
  margin: 0 auto;

  @media (--wide-vp) {
    grid-template-columns: 1fr 240px 1fr;
    padding-left: 1px;
  }

  @media (--not-small-vp) {
    grid-auto-flow: column;
  }

  @media (--middle-vp) {
    grid-template-areas:
      "top top"
      "main main"
      "bottom bottom";
  }

  @media (--small-vp) {
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  max-width: 340px;

  display: flex;

  @media (--wide-vp) {
    margin-bottom: 71px;
  }

  @media (--middle-vp) {
    width: 100%;
  }

  &--right {
    @media (--not-small-vp) {
      justify-self: flex-end;
      padding-right: 7px;
    }

    @media (--middle-vp) {
      //margin-right: 10px;
      //padding-right: 20px;
      margin-right: 0;
      padding-right: 0;
      padding-left: 16px;
    }
  }

  &--left {
    @media (--wide-vp) {
      margin-left: 26px;
    }

    @media (--middle-vp) {
      //margin-left: 24px;
      margin-left: 0;
    }
  }
}

.advantages__item + .advantages__item {
  @media (--wide-vp) {
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 59px;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-line-decoration-advantages);
    }

    @media (--middle-vp) {
      align-self: flex-end;
      padding-top: 83px;
    }
  }

  @media (--middle-vp) {
    align-self: flex-start;
    padding-top: 0;
  }
}

.advantages__item--left + .advantages__item--left {
  @media (--not-small-vp) {
    margin-left: 0;
    padding-left: 20px;
  }

  @media (--middle-vp) {
    //padding-left: 24px;
    padding-left: 0;
  }
}

.advantages__item-main + .advantages__item {
  @media (--small-vp) {
    grid-row: 2 / 3;
  }
}

.advantages__item + .advantages__item-main {
  @media (--small-vp) {
    grid-row: 3 / 4;
  }
}

.advantages__item-main + .advantages__item,
.advantages__item + .advantages__item {
  @media (--small-vp) {
    margin-top: 20px;
  }
}

.advantages__item-main {
  height: fit-content;
  margin-top: 29px;

  @media (--not-small-vp) {
    grid-area: 1 / 2 / 3 / 3;
  }

  @media (--middle-vp) {
    grid-area: main;
    margin-top: 43px;
  }

  @media (--small-vp) {
    width: 100%;
    margin-top: 42px;
  }
}

.advantages__item-definition b {
  display: inline-block;
  vertical-align: baseline;
  font-family: var(--regular-font);
  font-size: 71px;
  line-height: 106px;
  font-weight: 700;
  color: transparent;
  width: fit-content;
  margin: 0;
  background-image: var(--linear-gradient-text-advantages);
  background-clip: text;

  @media (--not-wide-vp) {
    font-size: 58px;
    line-height: 87px;
  }
}

.advantages__item-definition span {
  color: var(--color-text-advantages-defenition);
  font-size: 14px;
  line-height: 21px;
  margin-top: -20px;
  padding-left: 1px;

  @media (--small-vp) {
    text-align: center;
  }
}

.advantages__item-description h3 {
  display: block;
  color: var(--color-title);
  font-size: 22px;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 5px;

  @media (--not-wide-vp) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.advantages__item-description p {
  display: block;
  color: var(--color-title);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;

  @media (--not-wide-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}
