.advantages-card {
  display: flex;

  @media (--small-vp) {
    flex-direction: column;
    align-items: center;
  }
}

.advantages-card__definition {
  display: flex;
  flex-direction: column;

  @media (--small-vp) {
    margin-bottom: 6px;
  }
}

.advantages-card--main {
  display: flex;
  flex-direction: column;
  padding: 35px 15px 20px;
  background-color: var(--color-bg-advantages-item-main);

  @media (--wide-vp) {
    padding-bottom: 58px;
  }

  @media (--middle-vp) {
    max-width: 65.1%;
    min-height: 239px;
    width: 100%;
    height: fit-content;
    padding: 33px 120px;
    padding-bottom: 39px;
    margin: 37px auto 29px;
  }

  @media (--small-vp) {
    padding: 38px 55px 42px;
    margin-bottom: 8px;
    box-shadow: -15px 0 0 0 var(--color-bg-advantages-item-main), 15px 0 0 0 var(--color-bg-advantages-item-main);
  }
}

.advantages-card--main p,
.advantages-card--main b,
.advantages-card--main span {
  text-align: center;
}

.advantages-card--main b {
  font-size: 74px;
  line-height: 111px;
  font-weight: 700;

  padding-right: 4px;
  margin-bottom: -16px;

  @media (--middle-vp) {
    line-height: 74px;
    margin: 0;
  }

  @media (--small-vp) {
    line-height: 74px;
    margin: 0 0 -6px;
  }
}

.advantages-card--main p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.advantages-card--main span {
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 32px;

  @media (--not-wide-vp) {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 12px;
  }

  @media (--small-vp) {
    margin-bottom: 10px;
  }
}


.advantages-card__description {
  padding: 22px 0 0 30px;

  @media (--middle-vp) {
    padding: 13px 5px 5px 30px;
  }

  @media (--small-vp) {
    text-align: center;
    padding: 0 32px;
  }

  &--experience {
    padding: 20px 0 0 33px;

    @media (--middle-vp) {
      padding: 14px 0 0 32px;
    }

    @media (--small-vp) {
      text-align: center;
      padding: 0 30px;
    }
  }
}
