.connection {
  width: 100%;

  @media (--wide-vp) {
    display: flex;
  }
}

.connection h2 {
  padding-top: 57px;
  margin-bottom: 12px;

  @media (--wide-vp) {
    width: 410px;
    margin-right: auto;
  }

  @media (--middle-vp) {
    padding-left: 88px;
    padding-right: 118px;
    margin-bottom: 28px;
    padding-top: 61px;
  }

  @media (--small-vp) {
    padding-top: 63px;
    margin-bottom: 31px;
  }
}

.connection .page__wrapper-center {
  @media (--wide-vp) {
    max-width: 625px;
  }
}

.connection__user .page__wrapper-center {
  @media (--wide-vp) {
    margin-left: auto;
    margin-right: 0;
    padding-left: 45px;
    width: 100%;
  }
}

.connection__contacts .page__wrapper-center {
  @media (--wide-vp) {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    padding-right: 45px;
  }
}

.connection__user,
.connection__contacts {
  padding-bottom: 47px;
}

.connection__user {
  background-color: var(--color-title);

  @media (--wide-vp) {
    width: 50%;
  }

  @media (--middle-vp) {
    padding-bottom: 52px;
  }

  @media (--small-vp) {
    padding-bottom: 52px;
  }
}

.connection__user h2 {
  color: var(--color-base-white);
  font-weight: 800;
  font-size: 54px;
  line-height: 156%;

  @media (--middle-vp) {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }

  @media (--small-vp) {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
}

.connection__form {
  @media (--wide-vp) {
    width: 410px;
    margin-right: auto;
  }
}

.connection__contacts {
  @media (--wide-vp) {
    border-top: 1px solid var(--color-border-contacts);
    width: 50%;
    padding-left: 120px;
  }

  @media (--middle-vp) {
    padding-bottom: 42px;
  }

  @media (--small-vp) {
    padding-bottom: 42px;
  }
}
