.connection {
  width: 100%;

  @media (--wide-vp) {
    display: flex;
  }
}

.connection h2 {
  padding-top: 69px;
  margin-bottom: 35px;

  @media (--middle-vp) {
    padding-left: 88px;
    padding-right: 118px;
    margin-bottom: 28px;
  }

  @media (--small-vp) {
    padding-top: 68px;
    margin-bottom: 31px;
  }
}

.connection .page__wrapper-center {
  @media (--wide-vp) {
    max-width: 625px;
  }
}

.connection__user .page__wrapper-center {
  @media (--wide-vp) {
    margin-left: auto;
    margin-right: 0;
    padding-right: 170px;
    padding-left: 45px;
  }
}

.connection__contacts .page__wrapper-center {
  @media (--wide-vp) {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    padding-right: 45px;
  }
}

.connection__user,
.connection__contacts {
  padding-bottom: 47px;
}

.connection__user {
  background-color: var(--color-title);

  @media (--wide-vp) {
    width: 50%;
  }

  @media (--middle-vp) {
    padding-bottom: 51px;
  }

  @media (--small-vp) {
    padding-bottom: 51px;
  }
}

.connection__user h2 {
  color: var(--color-base-white);
}

.connection__contacts {
  @media (--wide-vp) {
    border-top: 1px solid var(--color-border-contacts);
    width: 50%;
    padding-left: 120px;
  }

  @media (--middle-vp) {
    padding-bottom: 43px;
  }

  @media (--small-vp) {
    padding-bottom: 41px;
  }
}
