.form__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;

  @media (--small-vp) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.form__fieldset input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: var(--regular-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--color-border-connection);
  padding: 10px 0;
}

.form__fieldset input::placeholder {
  color: var(--color-base-white);
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
}

.form__button {
  background-color: transparent;
  border: 3px solid var(--color-base-white);
  border-radius: 0;
  width: 100%;
  min-height: 52px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
