.form {
  @media (--middle-vp) {
    padding-left: 88px;
    padding-right: 118px;
  }
}

.form__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  width: 100%;

  @media (--middle-vp) {
    gap: 60px;
    margin-bottom: 29px;
  }

  @media (--small-vp) {
    grid-template-columns: 1fr;
    gap: 27px;
    margin-bottom: 38px;
  }
}

.form__fieldset input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: var(--regular-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-base-white);
  border-bottom: 1px solid var(--color-border-input);
  border-radius: 0;
  padding: 10px 0 6px;
  user-select: none;

  &:focus {
    outline: 1px solid var(--color-base-white);
    outline-offset: 0;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 1px solid var(--color-base-white);
    outline-offset: 0;
  }

  &:hover {
    opacity: 80%;
    cursor: text;
  }

  &:active {
    opacity: 60%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:placeholder-shown) {
    outline: none;
  }

  &--error[required] {
    outline: 2px solid var(--color-error);
    outline-offset: 1px;
  }
}

.form__fieldset input::placeholder {
  color: var(--color-base-white);
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
}

.form__button {
  background-color: transparent;
  border: 3px solid var(--color-base-white);
  border-radius: 0;
  width: 100%;
  min-height: 55px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 17px;

  &:focus {
    outline: 2px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:hover {
    opacity: 80%;
    cursor: pointer;
  }

  &:active {
    opacity: 60%;
  }
}
