.logo svg {
  width: 88px;
  height: 21px;

  @media (--middle-vp) {
    width: 82px;
    height: 20px;
  }

  @media (--small-vp) {
    width: 68px;
    height: 16px;
  }
}

.logo--header svg {
  width: 122px;
  height: 28px;

  @media (--middle-vp) {
    width: 82px;
  }

  @media (--small-vp) {
    width: 68px;
  }
}
