.navigation {
  padding-left: 61px;

  @media (--wide-vp) {
    width: 60%;
  }

  @media (--middle-vp) {
    padding-left: 50px;
    width: 70%;
  }

  @media (--small-vp) {
    padding-left: 0;
  }
}

.navigation a {
  color: var(--color-base-white);
  font-size: 14px;
  line-height: 16px;
  margin-right: 40px;

  @media (--middle-vp) {
    margin-right: 30px;
  }

  @media (--small-vp) {
    font-size: 16px;
    line-height: 19px;
    margin-right: 0;
  }

  &:focus {
    outline: 1px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 1px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.navigation__list {
  margin: 0;
  user-select: none;

  @media (--not-small-vp) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (--small-vp) {
    column-count: 2;
    column-gap: 30px;
  }
}

.navigation__item {
  min-height: 19px;
  margin-bottom: 10px;

  @media (--small-vp) {
    margin-bottom: 21px;
  }
}
