.page-footer {
  width: 100%;
  background-color: var(--color-bg-footer);
  padding-top: 41px;
  padding-bottom: 42px;

  @media (--middle-vp) {
    padding-top: 45px;
    padding-bottom: 44px;
  }

  @media (--small-vp) {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}

.page-footer__wrapper-flex {
  display: flex;
  justify-content: space-between;
}
