.page-header {
  display: flex;
  background: var(--conic-gradient-bg-header);
}

.page-header__screen-text b {
  display: block;
  margin-top: 0;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-align: right;
  text-transform: uppercase;
  color: var(--color-base-white);
}

.page-header__screen-image {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 556px;
  background-color: var(--color-bg-img-screen);
}
