.page {
  height: 100%;
  font-family: var(--regular-font);
  font-weight: 400;
  font-style: normal;
  color: var(--color-base-white);
  scroll-behavior: smooth;
}

.page h2 {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: var(--color-title);
  text-transform: uppercase;

  @media (--middle-vp) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (--small-vp) {
    font-size: 32px;
    line-height: 32px;
  }
}

.page ul {
  list-style-type: none;
  padding-left: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-base-white);
}

.page__visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper-center {
  @media (--wide-vp) {
    max-width: 1250px;
    padding: 0 45px;
    margin: 0 auto;
  }

  @media (--middle-vp) {
    padding: 0 45px;
  }

  @media (--small-vp) {
    padding: 0 15px;
  }
}
