.page-header {
  padding-top: 30px;
  padding-bottom: 51px;
  background-color: var(--color-bg-screen);

  @media (--wide-vp) {
    background-image: var(--conic-gradient-bg-header-wide);
  }

  @media (--middle-vp) {
    background-image: var(--conic-gradient-bg-header-middle);
    padding-top: 39px;
    padding-bottom: 80px;
  }

  @media (--small-vp) {
    background-image: var(--conic-gradient-bg-header-small);
    padding-top: 20px;
    padding-bottom: 78px;
  }
}

.page-header__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-left: 20px;
  margin-left: auto;
  z-index: 2;
}

.page-header__phone {
  margin-top: -1px;
  margin-bottom: 3px;
  display: block;
  margin-left: 15px;

  @media (--not-wide-vp) {
    margin-bottom: 5px;
  }

  &:focus {
    outline: 2px solid var(--color-base-white);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-white);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-header a {
  color: var(--color-base-white);
}

.page-header__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;

  @media (--middle-vp) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 15px;
  }

  @media (--small-vp) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}

.page-header__screen {
  display: flex;
  justify-content: flex-end;
}

.page-header__screen-text span {
  display: block;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-align: right;
  margin-bottom: 8px;

  @media (--middle-vp) {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 2px;
  }

  @media (--small-vp) {
    max-width: 250px;
    font-size: 28px;
    line-height: 34px;
  }
}

.page-header__screen-text b {
  display: block;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-align: right;
  color: var(--color-base-white);
  -webkit-text-stroke: 3px var(--color-base-white);
  text-transform: uppercase;
  max-width: 300px;
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 15px;

  @media (--middle-vp) {
    font-size: 86px;
    line-height: 86px;
    max-width: 260px;
  }

  @media (--small-vp) {
    font-size: 78px;
    line-height: 78px;
    max-width: 250px;
  }
}

.page-header__screen-text p {
  margin-top: 0;
  padding-top: 20px;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  max-width: 115px;
  transform: translate(-79px, -126px);

  @media (--middle-vp) {
    transform: translate(-67px, -114px);
  }

  @media (--small-vp) {
    transform: translate(-178px, -109px);
  }
}

.page-header__screen-text {
  margin-left: auto;

  @media (--middle-vp) {
    grid-template-columns: 132px 1fr;
  }

  @media (--small-vp) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 290px;
    margin: 0 auto;
  }
}

.page-header__screen-button {
  display: grid;
  place-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  border: 4px solid var(--color-base-white);
  min-height: 61px;
  margin-left: auto;
  margin-top: -56px;
  margin-right: -1px;
  width: 100%;

  @media (--wide-vp) {
    max-width: 234px;
  }

  @media (--middle-vp) {
    max-width: 187px;
    margin-top: -71px;
  }

  @media (--small-vp) {
    margin-top: -69px;
    min-height: 63px;
    margin-right: 0;
  }

  &:focus {
    outline: 2px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-white);
    outline-offset: 3px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-header__screen-info {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-content: flex-start;
  width: 416px;
  padding-top: 104px;
  margin-right: 44px;
  padding-right: 20px;

  @media (--middle-vp) {
    width: 354px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 15px;
    margin-right: 0;
  }

  @media (--small-vp) {
    width: 100%;
    margin: 0;
    padding: 65px 0 0;
  }
}

.page-header__screen-image {
  margin-top: -7px;
  width: 100%;
  max-width: 500px;
  height: 111.2%;

  @media (--middle-vp) {
    display: flex;
    width: 50%;
    margin-top: 0;
    margin-left: 14px;
    min-height: 390px;
  }

  @media (--small-vp) {
    display: none;
    margin-top: 0;
  }
}

.page-header__screen-image img {
  display: block;
  width: 100%;
  background-color: var(--color-bg-img-screen);

  @media (--middle-vp) {
    height: 100%;
  }
}

.page-header__socials {
  margin-top: auto;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: 23px;
  user-select: none;

  @media (--not-wide-vp) {
    display: none;
  }
}

.page-header__socials-item {
  margin-bottom: 19px;
}

.page-header__socials a {
  &:focus {
    outline: 1px solid var(--color-base-white);
    outline-offset: 4px;
    border-radius: 50%;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
    border-radius: none;
  }

  &:focus-visible {
    outline: 1px solid var(--color-base-white);
    outline-offset: 4px;
    border-radius: 50%;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
