.page-footer {
  width: 100%;
  background-color: var(--color-bg-footer);
  padding-top: 43px;
  padding-bottom: 34px;

  @media (--middle-vp) {
    padding-top: 46px;
    padding-bottom: 44px;
  }

  @media (--small-vp) {
    padding-top: 44px;
    padding-bottom: 51px;
  }
}

.page-footer__wrapper-flex {
  display: flex;

  @media (--not-small-vp) {
    justify-content: space-between;
  }

  @media (--small-vp) {
    flex-direction: column;
  }
}

.page-footer__logo {
  padding-top: 6px;

  @media (--middle-vp) {
    padding-top: 0;
  }
}

.page-footer__nav {
  @media (--small-vp) {
    margin-top: -22px;
    margin-bottom: 15px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 0;

  @media (--wide-vp) {
    margin-top: -2px;
    margin-right: 1px;
  }

  @media (--middle-vp) {
    margin-right: -6px;
    margin-top: -1px;
  }
}
