.presentation.page__wrapper-center {
  @media (--small-vp) {
    padding: 0;
  }
}

.presentation__text h2 {
  margin-bottom: 6px;
  font-size: 48px;
  line-height: 58px;

  @media (--middle-vp) {
    margin-bottom: 0;
    font-size: 42px;
    line-height: 50px;
    padding-right: 16px;
  }

  @media (--small-vp) {
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
  }
}

.presentation__text span {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-title);
  margin-bottom: 39px;

  @media (--middle-vp) {
    margin-bottom: 33px;
  }

  @media (--small-vp) {
    margin-bottom: 24px;
  }
}

.presentation__text p {
  margin-top: 0;
  margin-bottom: 8px;
}

.presentation__description {
  color: var(--color-title);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  @media (--small-vp) {
    padding-right: 30px;
  }

  &--hidden {
    @media (--not-wide-vp) {
      display: none;
    }
  }
}

.presentation__wrapper-block {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 235px;

  @media (--not-wide-vp) {
    flex-direction: column;
  }

  @media (--middle-vp) {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 16px;
  }

  @media (--small-vp) {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.presentation__text {
  margin-left: auto;
  margin-right: 85px;
  max-width: 355px;
  padding-top: 39px;

  @media (--middle-vp) {
    max-width: 100%;
    margin: 0;
    padding: 0 80px 35px;
  }

  @media (--small-vp) {
    max-width: 100%;
    margin: 0;
    padding: 0 15px 26px;
  }
}


.presentation__media {
  position: relative;
  width: 100%;

  @media (--wide-vp) {
    max-width: 660px;
    min-height: 401px;
  }
}

.presentation__photo {
  @media (--wide-vp) {
    max-width: 660px;
    min-height: 401px;
  }

  @media (--middle-vp) {
    width: 100%;
    height: 345px;
  }

  @media (--small-vp) {
    min-height: 313px;
    margin-bottom: 40px;
  }
}

.presentation__video {
  @media (--wide-vp) {
    top: 288px;
    left: -63px;
  }

  @media (--middle-vp) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -84px;
  }

  @media (--small-vp) {
    margin: 0 auto;
  }
}

.presentation__photo img {
  display: block;
  background-color: var(--color-bg-img-presentation);

  @media (--small-vp) {
    min-height: 313px;
  }
}
