.subscription {
  position: relative;
  background-color: var(--color-bg-accent);
  width: 100%;
  padding-top: 118px;
  padding-bottom: 120px;

  @media (--middle-vp) {
    padding-top: 98px;
  }

  @media (--small-vp) {
    padding-top: 68px;
    padding-bottom: 69px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;

    @media (--wide-vp) {
      width: 470px;
      height: 494px;
      background-image: url("../../img/discs-barbell-l@1x.png");
      background-size: 470px 494px;
      bottom: -150px;
      right: -183px;

      @media (--x2) {
        background-image: url("../../img/discs-barbell-l@2x.png");
      }
    }

    @media (--middle-vp) {
      width: 423px;
      height: 444px;
      background-image: url("../../img/discs-barbell-m@1x.png");
      background-size: 423px 444px;
      bottom: -105px;
      right: -76px;

      @media (--x2) {
        background-image: url("../../img/discs-barbell-m@2x.png");
      }
    }
  }
}

.subscription__tabs {
  position: relative;
  z-index: 2;
}

.subscription h2 {
  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 10px;
}

.subscription h3 {
  display: block;
  color: var(--color-title);
  font-size: 26px;
  line-height: 29px;

  @media (--small-vp) {
    font-size: 22px;
    line-height: 110.16%;
  }
}

.subscription span {
  position: relative;
  font-size: 60px;
  line-height: 150%;
  font-weight: 700;
  color: var(--color-price);
  z-index: 1;
  word-break: break-all;

  &::after {
    content: attr(data-price-shadow);
    position: absolute;
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    color: var(--color-price-shadow);
    left: 50%;
    top: 50%;
    width: 300px;
    transform: translate(calc(-50% + 20px), calc(-50% - 24px));
    z-index: -1;

    @media (--small-vp) {
      font-size: 80px;
      line-height: 120px;
      transform: translate(calc(-50% + 17px), calc(-50% - 19px));
    }
  }

  @media (--small-vp) {
    font-size: 48px;
  }
}

.subscription img {
  position: relative;
  z-index: 1;
  width: 42px;
  height: 42px;

  @media (--small-vp) {
    width: 33px;
    height: 33px;
  }
}

.subscription p {
  color: var(--color-tab-card-text);
  font-size: 16px;
  line-height: 150%;
}
