.tabs {
  width: 100%;
  padding-top: 6px;

  @media (--middle-vp) {
    padding-top: 10px;
    padding-left: 118px;
    padding-right: 118px;
  }

  @media (--small-vp) {
    padding-top: 12px;
  }
}

.tabs__nav {
  position: relative;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 51px;

  @media (--not-wide-vp) {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 46px;
  }

  @media (--middle-vp) {
    margin-bottom: 58px;
    gap: 45px;
  }

  @media (--small-vp) {
    margin-bottom: 48px;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 46px);
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -13px;
    background-color: var(--color-decoration-control-underline);

    @media (--middle-vp) {
      bottom: -14px;
      width: calc(100% - 12px);
    }

    @media (--small-vp) {
      bottom: -14px;
      width: 100%;
    }
  }
}

.tabs__button {
  position: relative;
  color: var(--color-button-tab);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--regular-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  user-select: none;
  width: fit-content;
  padding: 0;
  margin: 0 23px;

  @media (--middle-vp) {
    font-size: 18px;
    margin: 0 5px;
  }

  @media (--small-vp) {
    font-size: 16px;
    margin: 0;
  }

  &--active {
    cursor: default;
    color: var(--color-title);

    &:focus {
      outline: none;
    }

    &:focus:not(:focus-visible) {
      outline: revert;
    }

    &:focus-visible {
      outline: none;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -13px;
      background-color: var(--color-decoration-underline);

      @media (--middle-vp) {
        bottom: -14px;
      }

      @media (--small-vp) {
        bottom: -14px;
      }
    }
  }
}

.tabs__button:not(.tabs__button--active) {
  &:focus {
    outline: 2px solid var(--color-title);
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-title);
    outline-offset: 3px;
  }

  &:hover {
    color: var(--color-title);
    opacity: 80%;
  }

  &:active {
    color: var(--color-title);
    opacity: 60%;
  }
}

.tabs__pane {
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;

  @media (--not-wide-vp) {
    grid-template-columns: 1fr;
  }

  @media (--small-vp) {
    gap: 35px;
  }

  &--show {
    display: grid;
  }
}

.tabs__card {
  background-color: var(--color-base-white);
  padding: 55px 69px 60px;
  border: solid 7px var(--color-base-white);

  @media (--small-vp) {
    padding: 43px 34px 47px;
  }

  &:hover {
    border-image: var(--linear-gradient-border-cards);
    border-image-slice: 1;

    .tabs__card-button {
      color: var(--color-base-white);
      border: none;
      background-image: var(--linear-gradient-button-cards);
    }
  }
}

.tabs__card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.tabs__card p {
  margin-top: 0;
  margin-bottom: 20px;
}

.tabs__card span {
  margin-right: 4px;

  @media (--small-vp) {
    margin-right: 2px;
  }
}

.tabs__card-currency {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 46px;
  margin-bottom: 34px;

  @media (--small-vp) {
    padding-top: 34px;
    margin-bottom: 30px;
  }
}

.tabs__card-currency img {
  display: block;
  padding-left: 10px;

  @media (--small-vp) {
    margin-right: -1px;
  }
}

.tabs__card-button {
  display: grid;
  color: var(--color-title);
  border: 2px solid var(--color-title);
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  width: 100%;
  min-height: 66px;
  place-items: center;

  @media (--middle-vp) {
    width: 72%;
    margin: 0 auto;
  }

  &:focus {
    outline: 2px solid var(--color-title);
    outline-offset: -6px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-title);
    outline-offset: -6px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
