.trainers {
  padding: 18px 50px 91px;
  max-width: 1366px;
  margin: 0 auto;

  @media (--middle-vp) {
    max-width: 768px;
    padding: 20px 86px 100px;
  }

  @media (--small-vp) {
    max-width: 320px;
    padding: 13px 30px 70px;
  }
}

.trainers h2 {
  display: block;
  margin-bottom: 25px;
  margin-left: 55px;
  width: fit-content;

  @media (--not-wide-vp) {
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 6px;
  }
}

.trainers__slider-block {
  position: relative;
  max-width: 1200px;
  padding-top: 22px;

  margin: 0 auto;

  @media (--small-vp) {
    padding-top: 33px;
  }
}

.trainers h3,
.trainers b {
  font-size: 18px;
  line-height: 150%;
}

.trainers h3 {
  display: block;
  width: fit-content;
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @media (--middle-vp) {
    padding-left: 8px;
  }
}

.trainers i,
.trainers b {
  @media (--middle-vp) {
    padding-right: 8px;
  }
}

.trainers i {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent-text-trainers);
  margin-top: -4px;
  margin-bottom: 8px;
}

.trainers p {
  font-size: 14px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 13px;
}

.trainers__swiper {
  width: 100%;
}

.trainers__swiper-slide {
  display: flex;
  justify-content: center;
}

.trainers__slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 260px;
  height: 294px;
  justify-content: center;

  @media (--middle-vp) {
    max-width: 268px;
  }

  @media (--small-vp) {
    max-width: 226px;
    height: 274px;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.trainers__slide:focus .trainers__slide-info {
  z-index: 1;
}

.trainers__slide-image {
  background-color: var(--color-bg-img-trainers);
  grid-column: 1 /-1;
  grid-row: 1 / -1;
}

.trainers__slide-image img {
  display: block;
  width: 260px;
  height: 294px;

  @media (--middle-vp) {
    width: 268px;
  }

  @media (--small-vp) {
    width: 226px;
    height: 274px;
  }
}

.trainers__slide-title {
  margin-top: auto;
  grid-column: 1 /-1;
  grid-row: 1 / -1;
}

.trainers__slide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-info-trainers);
  grid-column: 1 /-1;
  grid-row: 1 / -1;
  z-index: -1;
  padding: 51px 20px 20px;
  overflow-y: auto;

  @media (--wide-vp) {
    scrollbar-color: var(--color-bg-info-trainers) var(--color-bg-img-trainers);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 12px;
      background-color: var(--color-bg-img-trainers);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-bg-info-trainers);
      box-shadow: inset 1px 1px 2px var(--color-bg-img-trainers);
      border-radius: 4px;

      &:hover {
        box-shadow: inset 1px 1px 5px var(--color-bg-img-trainers);
      }
    }

    &::-webkit-scrollbar-button:vertical:start:decrement {
      background:
        linear-gradient(120deg, var(--color-bg-info-trainers) 40%, var(--color-shadow-reviews-swiper) 41%),
        linear-gradient(240deg, var(--color-bg-info-trainers) 40%, var(--color-shadow-reviews-swiper) 41%),
        linear-gradient(0deg, var(--color-bg-info-trainers) 30%, var(--color-shadow-reviews-swiper) 31%);
      background-color: var(--color-bg-img-trainers);

      &:hover {
        box-shadow: inset 1px 1px 2px var(--color-bg-img-trainers);
      }

      &:active {
        box-shadow: inset 1px 1px 4px var(--color-bg-img-trainers);
      }
    }

    &::-webkit-scrollbar-button:vertical:end:increment {
      background:
        linear-gradient(300deg, var(--color-bg-info-trainers) 40%, var(--color-shadow-reviews-swiper) 41%),
        linear-gradient(60deg, var(--color-bg-info-trainers) 40%, var(--color-shadow-reviews-swiper) 41%),
        linear-gradient(180deg, var(--color-bg-info-trainers) 30%, var(--color-shadow-reviews-swiper) 31%);
      background-color: var(--color-bg-img-trainers);

      &:hover {
        box-shadow: inset 1px 1px 2px var(--color-bg-img-trainers);
      }

      &:active {
        box-shadow: inset 1px 1px 4px var(--color-bg-img-trainers);
      }
    }
  }

  @media (--small-vp) {
    padding-top: 41px;
  }
}

.trainers__slide-info ul {
  list-style-type: disc;
  padding-left: 48px;
  padding-right: 10px;
  margin-top: 26px;
  margin-bottom: 0;

  @media (--small-vp) {
    padding-left: 29px;
    padding-right: 0;
  }
}

.trainers__slide-item {
  padding-left: 3px;
}

.trainers__slide:hover .trainers__slide-info,
.trainers__slide:active .trainers__slide-info {
  z-index: 1;
}

.trainers__slide:hover .trainers__slide-title,
.trainers__slide:active .trainers__slide-title {
  display: none;
}

.trainers__button-prev {
  transform: translate(-39px, calc(-50% + 11px));

  @media (--middle-vp) {
    transform: translate(-44px, calc(-50% + 11px));
  }

  @media (--small-vp) {
    transform: translate(-16px, calc(-50% + 17px));
  }
}

.trainers__button-next {
  transform: translate(39px, calc(-50% + 11px));

  @media (--middle-vp) {
    transform: translate(44px, calc(-50% + 11px));
  }

  @media (--small-vp) {
    transform: translate(16px, calc(-50% + 17px));
  }
}
