.video {
  position: absolute;
  line-height: 0;
  width: 364px;
  height: 228px;
  background-color: var(--color-base-black);

  @media (--middle-vp) {
    width: 39.23%;
    height: auto;
  }

  @media (--small-vp) {
    position: relative;
    width: 100%;
    height: auto;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-gradient-img-video);
    z-index: 1;
  }
}

.video--played {
  &::after {
    width: 0;
    height: 0;
  }
}

.video iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;

  width: 100px;
  height: 100px;

  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: no-repeat center / cover url("../../icons/sprite.svg#video-play-wrapper");
  }
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  width: 72%;
  height: 72%;
  border-radius: 50%;
  background-image: var(--linear-gradient-video-play);
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 17px;
    transform: translate(calc(-50% + 2px), calc(-50% - 1px));
    background: no-repeat center / cover url("../../icons/sprite.svg#video-play-button");
  }
}
