:root {
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-bg-img-screen: #000328;
  --color-bg-img-trainers: #ccd0de;
  --color-bg-footer: #030a1a;
  --color-bg-info-trainers: rgba(16, 38, 84, 0.89);
  --color-title: #102654;
  --color-accent-text-trainers: #b6bdcc;
}
