<footer class="page-footer">
  <div class="page-footer__wrapper-flex page__wrapper-center">

    <a class="page-footer__logo logo">
      <svg role="img" width="89" height="20" aria-label="Логотип фитнес центра «SuperGym».">
        <use href="./img/logos.svg#logo"></use>
      </svg>
    </a>

    <nav class="page-footer__nav navigation">
      <ul class="navigation__list">

        <li class="navigation__item">
        </li>
        <li class="navigation__item">
          <a href="#">Услуги</a>
        </li>
        <li class="navigation__item">
          <a href="#subscription">Абонементы</a>
        </li>
        <li class="navigation__item">
          <a href="#promo">Акции</a>
        </li>
        <li class="navigation__item">
          <a href="#trainers">Тренеры</a>
        </li>
        <li class="navigation__item">
          <a href="#">Расписание</a>
        </li>
      </ul>
    </nav>

    <ul class="page-footer__social social">
      <li class="social__item">
        <a class="social__link social__link--wk" href="#">
          <span class="page__visual-hidden">В контакте.</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--ok" href="#">
          <span class="page__visual-hidden">Одноклассники.</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--reddit" href="#">
          <span class="page__visual-hidden">Реддит.</span>
        </a>
      </li>
    </ul>

  </div>
</footer>
