<header class="page-header">
  <div class="page__wrapper-center">

    <div class="page-header__block">

      <a class="page-header__logo logo">
        <svg role="img" width="89" height="20" aria-label="Логотип фитнес центра «SuperGym».">
          <use href="./img/logos.svg#logo"></use>
        </svg>
      </a>

      <div  class="page-header__contacts">
        <a class="page-header__phone" href="tel:+78005555555">8-800-555-55-55</a>
      </div>
    </div>

    <div class="page-header__screen">
      <div class="page-header__screen-info">

        <div class="page-header__screen-text">
          <span>Oмск</span>
          <b>фитнес центр</b>
          <p>Тренажёрный зал Групповые занятия Кардио-зона</p>
        </div>

        <a class="button page-header__screen-button" href="#subscription">Купить абонемент</a>
      </div>

      <div class="page-header__screen-image">
        <picture>
          <source srcset="./img/screen-l@1x.webp, ./img/screen-l@2x.webp 2x" type="image/webp">
          <!-- 1х: 500px; 2x: 1000px -->
          <img src="./img/screen-l@1x.jpg" srcset="./img/screen-l@2x.jpg 2x" width="500" height="556" loading="lazy" alt="Приятный спортивный мужчина в стильной майке супергероя, в полумрачном помещении спортивного центра.">
        </picture>
      </div>

      <ul class="page-header__socials">
        <li class="page-header__socials-item">
          <a href="#">ok</a>
        </li>
        <li class="page-header__socials-item">
          <a href="#">vk</a>
        </li>
        <li class="page-header__socials-item">
          <a href="#">rd</a>
        </li>
      </ul>
    </div>

  </div>
</header>
