<!--{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{%- import "./templates/macros.twig" as macros -%}*/
-->
<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="page-main">

    <section class="advantages page-main__advantages">
      <h2>Преимущества нашего питания.</h2>
    </section>

    <section class="trainers page__wrapper-center">
      <h2>Тренеры</h2>

      <!--Подключение слайдера библиотека SWIPER-->
      <div class="swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide trainers__slide">

            <div class="trainers__slide-image">
              <picture>
                <source srcset="./img/trainer-pavlova-l@1x.webp, ./img/trainer-pavlova-l@2x.webp 2x" type="image/webp" media="(min-width: 1200px)">
                <source srcset="./img/trainer-pavlova-l@1x.webp, ./img/trainer-pavlova-l@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
                <source srcset="./img/trainer-pavlova-l@1x.webp, ./img/trainer-pavlova-l@2x.webp 2x" type="image/webp">
                <!-- 1х: 260px; 2x: 520px -->
                <img src="./img/trainer-pavlova-l@1x.jpg" srcset="./img/trainer-pavlova-l@2x.jpg 2x" width="260" height="294" loading="lazy" alt="Tренер фитнес центра SuperGym.">
              </picture>
            </div>

            <div class="trainers__slide-title">
              <h3>Анна Павлова</h3>
            </div>

            <div class="trainers__slide-info">
              <b>Анна Павлова</b>
              <i>CrossFit!</i>

              <ul class="trainers__slide-list">
                <li class="trainers__slide-item">
                  <p>Certified Level&nbsp;3 Trainer</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Победитель чемпионата России по&nbsp;CrossFit</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Опыт&nbsp;&mdash; 6 лет</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="swiper-slide trainers__slide">

            <div class="trainers__slide-image">
              <picture>
                <source srcset="./img/trainer-lavrov-l@1x.webp, ./img/trainer-lavrov-l@2x.webp 2x" type="image/webp" media="(min-width: 1200px)">
                <source srcset="./img/trainer-lavrov-l@1x.webp, ./img/trainer-lavrov-l@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
                <source srcset="./img/trainer-lavrov-l@1x.webp, ./img/trainer-lavrov-l@2x.webp 2x" type="image/webp">
                <!-- 1х: 260px; 2x: 520px -->
                <img src="./img/trainer-lavrov-l@1x.jpg" srcset="./img/trainer-lavrov-l@2x.jpg 2x" width="260" height="294" loading="lazy" alt="Tренер фитнес центра SuperGym.">
              </picture>
            </div>

            <div class="trainers__slide-title">
              <h3>Алексей Лавров</h3>
            </div>

            <div class="trainers__slide-info">
              <b>Алексей Лавров</b>
              <i>CrossFit!</i>

              <ul class="trainers__slide-list">
                <li class="trainers__slide-item">
                  <p>Certified Level&nbsp;3 Trainer</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Победитель чемпионата России по&nbsp;CrossFit</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Опыт&nbsp;&mdash; 6 лет</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="swiper-slide trainers__slide">

            <div class="trainers__slide-image">
              <picture>
                <source srcset="./img/trainer-pashkov-l@1x.webp, ./img/trainer-pashkov-l@2x.webp 2x" type="image/webp" media="(min-width: 1200px)">
                <source srcset="./img/trainer-pashkov-l@1x.webp, ./img/trainer-pashkov-l@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
                <source srcset="./img/trainer-pashkov-l@1x.webp, ./img/trainer-pashkov-l@2x.webp 2x" type="image/webp">
                <!-- 1х: 260px; 2x: 520px -->
                <img src="./img/trainer-pashkov-l@1x.jpg" srcset="./img/trainer-pashkov-l@2x.jpg 2x" width="260" height="294" loading="lazy" alt="Tренер фитнес центра SuperGym.">
              </picture>
            </div>

            <div class="trainers__slide-title">
              <h3>Александр Пашков</h3>
            </div>

            <div class="trainers__slide-info">
              <b>Александр Пашков</b>
              <i>CrossFit!</i>

              <ul class="trainers__slide-list">
                <li class="trainers__slide-item">
                  <p>Certified Level&nbsp;3 Trainer</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Победитель чемпионата России по&nbsp;CrossFit</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Опыт&nbsp;&mdash; 6 лет</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="swiper-slide trainers__slide">

            <div class="trainers__slide-image">
              <picture>
                <source srcset="./img/trainer-ketova-l@1x.webp, ./img/trainer-ketova-l@2x.webp 2x" type="image/webp" media="(min-width: 1200px)">
                <source srcset="./img/trainer-ketova-l@1x.webp, ./img/trainer-ketova-l@2x.webp 2x" type="image/webp" media="(min-width: 768px)">
                <source srcset="./img/trainer-ketova-l@1x.webp, ./img/trainer-ketova-l@2x.webp 2x" type="image/webp">
                <!-- 1х: 260px; 2x: 520px -->
                <img src="./img/trainer-ketova-l@1x.jpg" srcset="./img/trainer-ketova-l@2x.jpg 2x" width="260" height="294" loading="lazy" alt="Tренер фитнес центра SuperGym.">
              </picture>
            </div>

            <div class="trainers__slide-title">
              <h3>Мария Кетова</h3>
            </div>

            <div class="trainers__slide-info">
              <b>Мария Кетова</b>
              <i>CrossFit!</i>

              <ul class="trainers__slide-list">
                <li class="trainers__slide-item">
                  <p>Certified Level&nbsp;3 Trainer</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Победитель чемпионата России по&nbsp;CrossFit</p>
                </li>
                <li class="trainers__slide-item">
                  <p>Опыт&nbsp;&mdash; 6 лет</p>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="swiper-button-prev">
          <button class="trainers__button trainers__button--prev" type="button">
            <span class="page__visual-hidden">Посмотреть предыдущую фотографию</span>
          </button>
        </div>

        <div class="swiper-button-next">
          <button class="trainers__button trainers__button--next" type="button">
            <span class="page__visual-hidden">Посмотреть следующую фотографию</span>
          </button>
        </div>

      </div>
    </section>

  </main>

  {% include "./templates/footer.twig" %}
  <!--<script defer src="./js/main.js" type="module"></script>-->
  </body>

</html>
